body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 20%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    border-radius: 10px;
    width: 250px;
    margin: 20px;
}

.tittle {
    color: white;
    margin: 15px;
}

.price {
    color: hsl(178, 100%, 50%);
}

.text {
    color: hsl(215, 51%, 70%);
    margin: 15px;
}

.timer {
    color: hsl(215, 51%, 70%);
}

.price-timer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.created {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
